<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de gestão</title>
</head>
<body>
    <form action="" class="st_cad">
        <label for="st_name">Nome do estudante:</label><br>
        <input type="text" id="st_name" name="st_name"><br>

        <label for="st_name">N° matrícula:</label><br>
        <input type="text" id="st_name" name="st_name"><br>

        <label for="st_name">Curso:</label><br>
        <input type="text" id="st_name" name="st_name"><br>

        <label for="st_name">Disciplina:</label><br>
        <input type="text" id="st_name" name="st_name"><br>

        <input type="button" value="Conluir"><br>
    </form>
</body>
</html>