{% extends "base.html" %}
<!DOCTYPE html>

{% block page_title %}
    Painel de Gestão
{% endblock page_title %}

{% block content %}
    <h1>Alunos Cadastrados</h1>
    {% if student_list %}
    <table class="table table-striped">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Curso</th>
            <th scope="col">Disciplina</th>
        </thead>
        <tbody>
            {% for student in student_list %}
            <tr>
                <th scope="row">{{student.pk}}</th>
                
                <td>{{student.name}}</td>
                <td>{{student.register}}</td>
                <td>{{student.id_course|default:"-"}}</td>
                <td>{{student.id_class|default:"-"}}</td>
                <td>
                    <a href="{%url 'std_update' pk=student.pk%}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'std_delete' pk=student.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
            <a href="{%url 'std_registrate'%}" class="btn btn-success btn-sm">+</a>
        </tbody>
    </table>
    {% else %}
    <p>Não existem alunos cadastrados</p>
    {% endif %}
{% endblock content %}
